/*body {
  background-image: url("./img/stocks-bk.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#element1 {
  display: inline-block;
  margin-right: 10px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-stock {
  height: 23%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
