body * {
  box-sizing: border-box;
}

#element1 {
  display: inline-block;
  margin-right: 10px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-stock {
  height: 23%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*#datacontainer {
  height: 100px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}*/

@media (min-width: 768px) .container {
  max-width: 720px;
}

@media (min-width: 576px) .container {
  max-width: 540px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
